[Unit]
Description=JS8CLI service

[Service]
User=threesixes
Type=simple
ExecStart=/opt/threesixes/js8cli/js8cli daemon
WorkingDirectory=/opt/threesixes/js8cli

[Install]
WantedBy=multi-user.target